

*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}

.big{
width: 7.5rem;
height: 12.95rem;
background-image: -webkit-linear-gradient(top,#4392f4,#36ceab);
overflow: hidden;
}
.fin1{
width: 7.5rem;
height: 1.09rem;
margin-top: 1.9rem;
overflow: hidden;
}
.fin11{
width: 7.5rem;
height: 0.67rem;
font-size: 0.32rem;
color: #fff;
line-height: 0.67rem;
text-align: center;
font-weight: bold;

}
.fin12{
width: 7.5rem;
height: 0.3rem;
font-size: 0.22rem;
color: #fff;
line-height: 0.3rem;
text-align: center;
font-weight: bold;

}
.fin2{
width: 7.5rem;
height: 0.81rem;
font-size: 0.43rem;
color: #53afe0;
line-height: 0.81rem;
text-align: center;
font-weight: bold;
}
.fin3{
width: 7.5rem;
height: 1.38rem;


}
.fin31{
width: 7.5rem;
height: 0.5rem;
font-size: 0.24rem;
color: #a4d9ea;
line-height: 0.5rem;
text-align: center;
font-weight: bold;
float: left;
}
.fin4{
width: 2.97rem;
height: 2.97rem;
margin-top: 0.4rem;
margin: 0 auto;
margin-top: 0.29rem;
position: relative;
border-radius: 50%;
background: #fff;
}
.fin5{
    width: 4.47rem;
	height: 0.75rem;
	margin: 0 auto;
    border-radius: 0.5rem;
    border: 0.05rem solid #6ac3ff;
    background-image: -webkit-linear-gradient(left,#47b3fd,#35de95);
    font-size: 0.3rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 0.75rem;
    margin-top: 2.1rem;
    display: block;
}
.fin44{
    width: 1.42rem;
    height: 1.02rem;
    position: absolute;
    background: url('../img/wancheng .png') no-repeat center;
    background-size: 1.42rem 1.02rem;
    top: 0.97rem;
    left: 0.88rem;

}
